Flask==3.0.0
python-dotenv
Flask-SQLAlchemy
mysqlclient
flask-cors
flask-login
flask_bcrypt
pyjwt
validate_email_address
py3dns
Flask-APScheduler
requests
gdown
PyPDF2==3.0.0
elasticsearch
openai
flask-swagger-ui